* {
  margin: 0;
}

html,
body {
  --black: hsl(240, 6%, 13%);
  --grey: hsla(240, 9%, 89%);
  height: 100%;
  font-family: "Roboto", sans-serif;
  -webkit-font-smoothing: antialiased;
  /* background: url(../imagens/bgweb.svg) no-repeat center/cover; */
}

body {
  display: grid;
  place-items: center;
  background: rgb(22, 22, 22);
}

#principal {
  background: url(../imagens/background.svg) no-repeat center/cover;
  height: 90vh;
  min-width: 375px;
}

.container {
  max-width: 250px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  color: var(--grey);
}

.avatar {
  margin: 3.5rem auto 0;
  position: relative;
}

.avatar .selo {
  position: absolute;
  top: -15px;
  z-index: 1;
}

.avatar .imagem-de-perfil {
  width: 10rem;
  height: 11.5rem;
  object-fit: cover;
  clip-path: polygon(50% 0, 100% 25%, 100% 75%, 50% 100%, 0 75%, 0 25%);
}

.titulo-principal {
  font-size: 1.5rem;
  margin-top: 1.5rem;
}

.github {
  color: var(--grey);
  text-decoration: none;
  margin-top: 0.25rem;
  display: flex;
  gap: 0.75rem;
  justify-content: center;
  align-items: center;
}

.icone-github{
  width: 25px;
  height: 25px;
}

.descricao {
  margin-top: 2rem;
}

#socialLinks {
  margin-top: 4rem;
  list-style: none;
  padding: 0;
  display: flex;
  gap: 0.5rem;
  justify-content: center;
}

.icones-das-redes {
  border-radius: 50px;
}

.icones-das-redes:hover {
  transform: scale(1.2);
  transition-duration: 0.25s;
}
@media (min-width: 960px) {
    
}
